/* body {
  background-color: salmon;
} */

/* main {
  display: grid;
  justify-items: center; */
/* justify-content: center;
  align-items: center; */
/* } */

/* table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table,
td,
th {
  border: 1px solid grey;
  padding: 0.5em;
}

th {
  background-color: blue;
}

tr:nth-child(odd) {
  background-color: peachpuff;
}

button {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  width: 13em;
  font-size: 1rem;
  background-color: peachpuff;
  box-shadow: 0.2rem 0.2rem 0.3rem black;
  cursor: pointer;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

button:hover {
  background-color: rgb(228, 212, 198);
}

input[readonly] {
  background-color: rgb(182, 165, 165);
}

#inputData {
  display: grid;
  justify-items: left;
  margin: 10px;
} */

/* OLUKO */

body {
  background-color: salmon;
}

main {
  display: grid;
  justify-items: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table,
td,
th {
  border: 1px solid black;
  padding: 0.5em;
}
th {
  background-color: khaki;
}

tr:nth-child(odd) {
  background-color: peachpuff;
}

button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  width: 13em;
  height: 2em;
  border: 0.1em solid black;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.3em black;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  background-color: brown;
  color: white;
}
